<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HQD Shop</title>
    <link rel="stylesheet" href="/stylesheets/auth.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="auth">
        <!--Modal layout-->
        <div class="modal">
        
            <div class="modal__body">
                <!-- Register Form -->
                <form id="register-form" class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <div class="auth-form__heading">Đăng ký</div>
                        </div>
        
                        <div class="auth-form__groups">
                            <div class="auth-form__group">
                                <input id="email" rule="email" type="text" class="auth-form__input"
                                    placeholder="Email của bạn" />
                            </div>
                            <div class="auth-form__group">
                                <input id="password" rule="password" type="password" class="auth-form__input"
                                    placeholder="Mật khẩu của bạn" />
                            </div>
                            <div class="auth-form__group">
                                <input id="password_confirmation" rule="password_confirmation" type="password"
                                    class="auth-form__input" placeholder="Nhập lại mật khẩu của bạn" /><span
                                    class="auth-form__message"></span>
                            </div>
                        </div>
        
                        <div class="auth-form__aside">
                            <p class="auth-form__policy-text">
                                Bằng việc đăng ký, bạn đã đồng ý với Minecraft Shop
                                <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> &
                                <a href="" class="auth-form__text-link">Chính sách bảo mật</a>
                            </p>
        
                            <div class="auth-form__switch-wrapper">
                                <span class="auth-form__switch-text">Bạn đã có tài khoản?</span>
                                <span class="auth-form__switch-btn">Đăng nhập</span>
                            </div>
                        </div>
        
                        <div class="auth-form__controls">
                            <button class="btn auth-form__controls-back me-2">TRỞ LẠI</button>
                            <button class="btn btn--primary">ĐĂNG KÝ</button>
                        </div>
                    </div>
        
        
                    <div class="auth-form__socials">
                        <a href="" class="auth-form__socials--facebook btn btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                            <span class="auth-form__socials-title">
                                Kết nối với Facebook
                            </span>
                        </a>
                        <a href="" class="auth-form__socials--google btn btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fab fa-google"></i>
                            <span class="auth-form__socials-title">
                                Kết nối với Google
                            </span>
                        </a>
                    </div>
                </form>
                <!-- Login Form -->
                <form id="login-form" class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <div class="auth-form__heading">Đăng nhập</div>
                        </div>
        
                        <div class="auth-form__groups">
                            <div class="auth-form__group">
                                <input id="email" rule="email" type="text" class="auth-form__input"
                                    placeholder="Email của bạn" />
                            </div>
                            <div class="auth-form__group">
                                <input id="password" rule="password" type="password" class="auth-form__input"
                                    placeholder="Mật khẩu của bạn" />
                            </div>
                        </div>
        
                        <div class="auth-form__aside">
                            <div class="auth-form__help">
                                <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                                <span class="auth-form__help-separate"></span>
                                <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                            </div>
                        </div>
        
                        <div class="auth-form__controls">
                            <button class="btn auth-form__controls-back me-2">TRỞ LẠI</button>
                            <button class="btn btn--primary">ĐĂNG NHẬP</button>
                        </div>
        
                        <div class="auth-form__switch-wrapper">
                            <span class="auth-form__switch-text">Bạn chưa có tài khoản?</span>
                            <span class="auth-form__switch-btn">Đăng ký</span>
                        </div>
                    </div>
        
        
                    <div class="auth-form__socials">
                        <a href="" class="auth-form__socials--facebook btn btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                            <span class="auth-form__socials-title">
                                Kết nối với Facebook
                            </span>
                        </a>
                        <a href="" class="auth-form__socials--google btn btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fab fa-google"></i>
                            <span class="auth-form__socials-title">
                                Kết nối với Google
                            </span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    function handleForms() {
            let regItem = document.getElementById('register-item'); // get element of register item
            let logItem = document.getElementById('login-item'); // get element of register item

            let modalLayer = document.querySelector('.modal'); // get element of modal layer
            let modalBody = document.querySelector('.modal__body');

            let regForm = document.getElementById('register-form'); // get element of register form
            let logForm = document.getElementById('login-form'); // get element of login form

            let regToLogBtn = document.querySelector('#register-form .auth-form__switch-btn'); // get element of login button from register form
            let logToRegBtn = document.querySelector('#login-form .auth-form__switch-btn'); // get element of register button from login form
            //console.log(itemPic);
            const openForm = (check) => {

                modalLayer.classList.add('open');
                if (check === 1) {
                    regForm.style.display = 'block';
                    logForm.style.display = 'none';
                }
                else if (check === 2) {
                    regForm.style.display = 'none';
                    logForm.style.display = 'block';
                }

            }
            const closeForm = () => {

                modalLayer.classList.remove('open');
                regForm.style.display = 'none';
                logForm.style.display = 'none';

            }
           
            regItem.addEventListener('click', () => openForm(1));
            logItem.addEventListener('click', () => openForm(2));
            modalLayer.addEventListener('click', closeForm);
            modalBody.addEventListener('click', function (event) {
                //ngừng nổi bọt
                event.stopPropagation()
            })
           
        }
        
        handleForms();
</script>
</html>